[*.cs]

# CS0649: Field 'SavedCredentials._password' is never assigned to, and will always have its default value null
dotnet_diagnostic.CS0649.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = none
